html, body  {
    font-family:    "Trebuchet MS",sans-serif;
    background-color: #000000;
    color: #bbbbbd;
    }

.big-text   { position:fixed; font-size:72px; height:80px; top:50%; margin-top:-40px; }
.centered   { position:fixed; left:50%; margin-left:-100px; }
form#my-form{ border: 3px dotted blue; width:200px; }
#footer     { text-align: center; position:fixed; bottom: 10px; left: 0%; right: 0%; font-size:10px; }
fieldset    { border:none; }
#reset-button    { text-align:right; }

